<div class="fill" fxLayout="column">
  <mat-stepper linear #stepper labelPosition="bottom">
    <mat-step label="درک کلامی" editable="false" state="verbal">
      <div>درک کلامی</div>
    </mat-step>
    <mat-step label="استدلال ادراکی" editable="false" state="reasoning">
      <div>استدلال ادراکی</div>
    </mat-step>
    <mat-step label="حافظه کاری" editable="false" state="memory">
      <div>حافظه کاری</div>
    </mat-step>
    <mat-step label="سرعت پردازش" editable="false" state="processing">
      <div>سرعت پردازش</div>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="verbal">
      <mat-icon>chat</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="reasoning">
      <mat-icon>legend_toggle</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="memory">
      <mat-icon>psychology_alt</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="processing">
      <mat-icon>speed</mat-icon>
    </ng-template>
  </mat-stepper>

  <div class="footer">
    <button mat-button routerLink="/panel/assessments">انصراف</button>
  </div>
</div>
