<mat-card class="user-info-area" *ngIf="auth.user$ | async as user">
  <mat-card-header>
    <img mat-card-avatar [src]="user.picture" alt="Avatar">
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-nav-list role="navigation">
  <a mat-list-item routerLink="/portal" routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <div class="nav-caption" mat-line>پیشخوان</div>
  </a>
  <a mat-list-item routerLink="/assessments" routerLinkActive="active">
    <mat-icon mat-list-icon>checklist_rtl</mat-icon>
    <div class="nav-caption" mat-line>سنجش‌ها</div>
  </a>
</mat-nav-list>
