<mat-card class="user-info-area">
  <mat-card-header>
    <img mat-card-avatar src="https://cdn2.iconfinder.com/data/icons/Siena/256/puzzle%20green.png" alt="Avatar">
    <mat-card-title>استعداد یابی</mat-card-title>
    <mat-card-subtitle>تست هوش</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-nav-list role="navigation">
  <a mat-list-item routerLink="/portal" routerLinkActive="active">
    <mat-icon mat-list-icon>home</mat-icon>
    <div class="nav-caption" mat-line>پورتال</div>
  </a>
</mat-nav-list>
