<!-- Home -->
<section id="home">
  <video poster="/assets/wisc.png" autoplay loop muted>
    <source src="/assets/wisc.webm" type="video/webm">
  </video>

  <div id="home-overlay"></div>

  <div id="home-content">
    <div id="home-content-inner">
      <div id="home-heading">
        <h1>تست</h1><br>
        <h1>و آزمون‌های <span>روانشناسی</span></h1>
      </div>

      <div id="home-text">
        <p>
          آزمون‌های رفتارشناسی، تست هوش و استعداد یابی.
        </p>
      </div>

      <div id="login-btn">
        <a class="btn btn-general btn-home smooth-scroll" title="ورود" role="button" (click)="onLogin()">ورود</a>
      </div>
    </div>
  </div>

</section>
