mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

main {
  flex: 1 1 auto;
  overflow: auto;
}

mat-sidenav {
  width: 250px;
}

app-sidenav {
  height: 100%;
}
